fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
langchain
langchain-community
langchain-ollama
langchain-huggingface
chromadb
pypdf
python-multipart
PyJWT
passlib[bcrypt]
python-dotenv
pydantic