fastapi[standard]
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
langchain
langchain-chroma
langchain-community
langchain-ollama
langchain-huggingface
chromadb
pypdf
python-multipart
PyJWT
passlib[bcrypt]
python-dotenv
pydantic